<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %> </p>

<% if @user.favourite_style %>
  <p>Favourite style: <%=@user.favourite_style%></p>
<% end %>
<% if @user.favourite_brewery %>
  <p>Favourite brewery: <%=@user.favourite_brewery.name%></p>
<% end %>

<h3>Ratings</h3>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if current_user==@user %>
        <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    </li>
  <% end %>
</ul>

<h3>Beerclubs</h3>
<ul>
  <% @user.beer_clubs.each do |club| %>
    <li>
      <%= link_to club.name, club %>
    </li>
  <% end %>
</ul>

<% if current_user==@user %>
  <%= link_to 'Change password', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
