
<h1>
	Breweries | 
	<%= link_to 'Beers', beers_path %>
</h1>

<h4> Active breweries <span class="badge"><%= @active_breweries.count %></span> </h4>
<%= render 'list', breweries: @active_breweries %>

<h4> Retired breweries <span class="badge"><%= @retired_breweries.count %></span> </h4>
<%= render 'list', breweries: @retired_breweries %>

<%= link_to 'New Brewery', new_brewery_path if current_user %>
