<p id="notice"><%= notice %></p>

<h2>
	<%= @brewery.name %>
</h2>

<p>
  <i>
	Established in <%= @brewery.year %>
  </i>
</p>

<p>
	Beer counter: <%= @brewery.beers.count %>
</p>

<p>
	<% @brewery.beers.each do |beer| %>
		<%= link_to beer.name, beer %>
	<% end %>
</p>

<p>
	Has <%= pluralize(@brewery.ratings.count, 'rating') %>
	<% if !@brewery.ratings.empty? %>
		, average <%=@brewery.average_rating%>
	<%end%>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
