
<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  Has <%=pluralize(@beer.ratings.count, 'rating')%>
  <% if !@beer.ratings.empty? %>
    , average <%=@beer.average_rating%>
  <%end%>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
